<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step02_model2.html</title>
</head>
<body>
    <h1>v-model 사용하기2</h1>
    <div id="app">
        <input type="text" v-model="msg">
        <br>
        <!-- 체크박스에 모델을 지정하면 체크 여부가 boolean 값으로 관리가 된다. -->
        <input type="checkbox" v-model="isChecked" />
        <br>
        <!-- select 에 모델을 지정하면 선택한 option 의 vaule 가 모델의 값으로 관리가 된다. -->
        <select v-model="lunch">
        	<optgroup label="점심 메뉴">
        		<option value="ramen">라면</option>
        		<option>김밥</option>
        		<option value="u-dong">우동</option>
        	</optgroup>
        </select>
        <br>
        <textarea v-model="comment"></textarea>
        <br>
        <!-- 
            boolean 값으로 관리 하지 않고 
            원하는 문자열 값으로 관리하기 
        -->
        <input type="checkbox"
        	v-model = "isRun"
        	true-value = "yes"
        	false-value= "no">
        <p>
            msg : <strong>{{msg}}</strong>
            <br>
            isChecked : <strong>{{isChecked}}</strong>
            <br>
            lunch : <strong>{{lunch}}</strong>
            <br>
            comment : <strong>{{comment}}</strong>
            <br>
            isRun : <strong>{{isRun}}</strong>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
		new Vue({
			el: "#app",
			data:{
				msg:"메시지를 입력해주세요.",
				isChecked:true,
				lunch:"",
				comment:"",
				isRun: "yes"
			}
		})
    </script>    
</body>
</html>